/target
/db/
*.ckpt
__pycache__/
*.pyc
.pytest_cache/
/python/**/_cache/
/runs/
*.jsonl
/target-*/
/build/
*.egg-info/
/.venv/
/dist/
/models/*.pt
.mypy_cache/
.ruff_cache/
node_modules/
*.tmp
.DS_Store
